*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 3vw 0vw 2vw 0vw;
    
}

header > img{
    height: 7.395993836671803vh;
    width: auto;    
}

#menu {
    margin-left: -2.9282576866764276vw;
}

/* #lupa{
    height: 4.9306625577812015vh;
    width: auto;
} */

#barra{
    height: 7.395993836671803vh;
    width: 39.82430453879942vw;
    border-radius: 2vw;
    border: none;
    background-color: #FFE5F2;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    /* background-image: url(../../../../assets/lupa.png) no-repeat scroll 7px 7px;
    padding-left:30px; */
}

#btCriarTema{
    height: 7.395993836671803vh;
    width: 11.71303074670571vw;
    background-color: #FCEFDA;
    border: none;
    border-radius: 2vw;
    color: #9DCAFF;
    font-family: 'Berkshire Swash', cursive;
    font-size: 1.25rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.barraSuperior{
    height: 14.791987673343606vh;
    background-color: #ffe5f2;
}
.barraSuperior > h2 {
    position: absolute;
    width: 456px;
    height: 40px;
    left: 492px;
    top: 148px;
    padding-top: 2vh;

    font-family: 'Berkshire Swash';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    
    color: #9DCAFF;
    /* Fontes Importadas
    sacramento
    tangerine
    berkshire swash
    reenie beanie
    niconne */
}

.card1{
    border: 1px solid;
    display: flex;
    align-items: center;

}

.card1 > a {
    font-size: 1.5rem;
    font-family: 'Sacramento', cursive;
    text-decoration: none;
}

#pic1 {
    width: 15.3681vh;
    height: 15.3681vh;
    border-radius: 100%;
    border: 1px solid blue;     
}
