*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 3vw 0vw 2vw 0vw;
}

#menu {
    margin-left: -2.9282576866764276vw;
    height: 5vh;
}

#menu:hover{
    height: 5.5vh;
    width: auto;
}

#logo{
    height: 7.395993836671803vh;
    width: auto;    
}

#barra{
    height: 7.395993836671803vh;
    width: 39.82430453879942vw;
    border-radius: 2vw;
    border: none;
    background-color: #FFE5F2;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    /* background-image: url(../../../../assets/lupa.png) no-repeat scroll 7px 7px;
    padding-left:30px; */
}

#btCriarTema{
    height: 7.395993836671803vh;
    width: 11.71303074670571vw;
    background-color: #FCEFDA;
    border: none;
    border-radius: 2vw;
    color: #9DCAFF;
    font-family: 'Berkshire Swash', cursive;
    font-size: 1.25rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#btCriarTema:hover {
    background-color: #ffe5f2;
    color: #D3FFFB;
}

.barraSuperior{
    height: 14.791987673343606vh;
    background-color: #ffe5f2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.barraSuperior > h2 {

    font-family: 'Berkshire Swash';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.5rem;
    color: #9DCAFF;
    /* Fontes Importadas: sacramento, tangerine, berkshire swash, reenie beanie, niconne  */
}

.listaCards{
    display: flex;
    justify-content: center;
}

.card1{
    display: flex;
    align-items: center;
    margin: 2vh 0vh;
}

.card1 > a {
    font-size: 1.5rem;
    font-family: 'Sacramento', cursive;
    text-decoration: none;
    margin-left: 1.5vw;
}

#pic1 {
    width: 15.3681vh;
    height: 15.3681vh;
    border-radius: 100%;
}


#menuLateral{
    width: 33.40292275574113vw;
    height: 100vh;
    border: solid 1px;
}

.modal{
    display: none;
    visibility: hidden;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal .content {
    background-color: #D3D3D3;
    margin: 15% auto;
    padding: 20px;
    border-radius: 5px;
    width: 70%;

    display: flex;
    flex-direction: column;
    align-items: center;
}
/* https://medium.com/@caualoewen1/desenvolvendo-um-modal-com-javascript-3262a0b29d27 */